// colores base
$white: #fff;
$platinum: #E6E7E7;
$light-gray: #D1D1D1;
// second color 
$fuzzy-wuzzy: #E56353;
$ruddy-pink: #D76C69;
$spanish-pink: #ECBCBA;
// third color 
$eerie-black: #121619;
$raisin-black: #222323;
$nickel: #6C6E70;
// color 
$primary-scheme: #ECBCBA;
$secondary-scheme: #121619;
$light-scheme: #E6E7E7;
// typogrphy
$roboto:'roboto',
sans-serif;
$playfair: 'playfair',
serif;
//peso typography
$font-regular: 400;
$font-light: 300;
$font-black: 900;
// font style
$font-italic: italic;
// font size 
$font-xxlarge: 70px;
$font-xlarge: 30px;
$font-large: 18px;
$font-medium: 16px;
$font-small: 12px;