body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
  }
  h1 {
    font-weight: 500;
  }
  table {
    font-weight: 500;
  }
  th:nth-child(n+2), td:nth-child(n+2){
    text-align: center;
  }
  